@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.back {
  color: black;
  align-self:first baseline;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.15), #1f1c72), url('../assets/Background.jpg') !important;  
  background-size: cover !important;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 25px;
  font-weight: 500;
  align-self: flex-start;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.input-field {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.input-label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
}

.input-field .dropdown {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease; 
}
.input-group .input-field input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.submit-button-wrapper {
  height: 45px;
  margin: 35px 0;
}

.submit-button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #71b7e6;
  text-align: center;
}

.submit-button:hover {
  background: #1710D2;
}