@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #1f1c72;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.container .button {
    height: 105px;
    width: 420px;
    margin: 25px 0;
  }
  
.container .button input  {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #48687c;
    text-align: center;
  }


.container .button input:hover {
  background: #3935bb;
}
